@model MyFirstWebsite.Models.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Movie</legend>

    <dl>
        <dt>Title</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>

        <dt>Release Date</dt>
        <dd>@Html.DisplayFor(model => model.ReleaseDate)</dd>

        <dt>Genre</dt>
        <dd>@Html.DisplayFor(model => model.Genre)</dd>

        <dt>Price</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>

        <dt>Rating</dt>
        <dd>@Html.DisplayFor(model => model.Rating)</dd>
    </dl>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="btn" /> |
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn" })
    </p>
}
