@model MyFirstWebsite.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Movie</legend>

    <dl>
        <dt>Title</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>

        <dt>Release Date</dt>
        <dd>@Html.DisplayFor(model => model.ReleaseDate)</dd>

        <dt>Genre</dt>
        <dd>@Html.DisplayFor(model => model.Genre)</dd>

        <dt>Price</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>

        <dt>Rating</dt>
        <dd>@Html.DisplayFor(model => model.Rating)</dd>
    </dl>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn" })
</p>
